<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f5] px-10 py-3">
          <div class="flex items-center gap-4 text-[#111418]">
          <a href="/index">
      <div class="absolute top-4 left-4">
  <img 
    src="/assets/STEMRiderLogo.png" 
    alt="STEM Rider Logo"
    class="w-[80px] md:w-[110px] lg:w-[200px]"
      >
        </div>
          </a>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/index.html">Home</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/about">About</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/projects">Projects</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/resources">Resources</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/comics">Comics</a>
              <a class="text-[#111418] text-sm font-medium leading-normal" href="/contact">Contact</a>
            </div>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0d80f2] text-white text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate"><a href="/get_involved">Get Involved</a></span>
            </button>
          </div>
</header>